@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&display=swap');

.font-bold {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #000000;
}

.font-regular {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;
    color: #000000;

}

.font-thin {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 300px;
    line-height: 366px;
    color: #000000;

}

.font-medium {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #000000;

}
